
$darkBlue:  hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);


$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//font sizes
$xsmall-mobile : 0.5rem; //8px
$xsmall:0.875rem ; //14px
$small-mobile : 0.75rem;//12px
$small : 1.125rem; //18px
$medium:1.25rem; //20pxrem
$mediumLarge :2.25rem ;//36px
$mediumLarge-mobile : 1.875ren ; //30pxa
$large : 2.5rem; //42px;
