.hero {
  margin-top: 1rem;
  background-color: $background;
  display: flex;
  align-items: center;

  &__image {
    //background-image: url("./images/");
    min-height: 17.5rem;
    background-size: cover;


    &__texts {
    flex: 1;
      order: 1;
    }

    h1 {
      font-weight: 300;
      font-size: 2.31rem;
      color: $color;
      width: 23.75rem; //380px
      text-align: left;
    }
  }
}